<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Młynek</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,900' rel='stylesheet' type='text/css'> <!--czcionka Lato-->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> <!--czcionka Shadows Into Light-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> <!--czcionka Dancing Script-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nowe.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet"> <!--ikonki-->
    <script src="../static/jquery-3.2.1.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type=text/javascript>
        $(function() {
            $('a#wyslij').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/add', {
                    a: $('input[name="a"]').val()
                 }, function(data) {

                    var x = $('input[name="a"]').val();
                    $('#obecnie_gra').text(data.second_player);
                    $('#p'+x).addClass(data.result);
                  });
            return false;
            });
        });
        $(function() {
            $('a#wyslij2').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/add', {
                    b: $('input[name="b"]').val()
                 }, function(data) {
                    var y = $('input[name="b"]').val();
                    $('#p'+y).removeClass(data.result2);
                  });
            return false;
            });
        });
        $(function() {
            $('a#wyslij3').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/add', {
                    c: $('input[name="c"]').val(),
                    d: $('input[name="d"]').val()
                 }, function(data) {
                    var u = $('input[name="c"]').val();
                    var y = $('input[name="d"]').val();
                    $('#obecnie_gra').text(data.second_player);
                    $('#p'+u).removeClass(data.result);
                    $('#p'+y).addClass(data.result);
                  });
            return false;
            });
        });
        {#$(function hide_form_1() {#}
        {#    $.getJSON($SCRIPT_ROOT + '/add',#}
        {#        function() {#}
        {#        $('#postaw').css('opacity', '0');#}
        {#    });#}
        {#    return false;#}
        {#if(show_form === 1){#}
        {#    function hide_form_1(){#}
        {#        $('#postaw').css('opacity', '0');#}
        {#    }#}
    </script>

</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</body>
</html>