<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Młynek</title>
    <script src="../static/jquery-3.2.1.min.js"></script>
{#		<script type=text/javascript>#}
{#			$(function() {#}
{#			  $('a#process_input').bind('click', function() {#}
{#				$.getJSON('/background_process/', {#}
{#				  //move_from: $('input[name="move_from"]').val(),#}
{#                    move_to: $('input[name="move_to"]').val()#}
{#				}, function(data) {#}
{#				  $("#result").text(data.result);#}
{#				});#}
{#				return false;#}
{#			  });#}
{#			});#}
{#        </script>#}
</head>
<body>
    <div class="container">
        <h1>Mills</h1>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
        </div>
</body>
</html>