<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,900' rel='stylesheet' type='text/css'> <!--czcionka Lato-->
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> <!--czcionka Shadows Into Light-->
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> <!--czcionka Dancing Script-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nowe.css') }}">
        <title>Młynek</title>
    </head>
    <body class = "board_body">
        <article>
            <div class ="board">
                <div class="field" id="p0"></div>
                <div class="field" id="p1"></div>
                <div class="field" id="p2"></div>
                <div class="field" id="p3"></div>
                <div class="field" id="p4"></div>
                <div class="field" id="p5"></div>
                <div class="field" id="p6"></div>
                <div class="field" id="p7"></div>
                <div class="field" id="p8"></div>
                <div class="field" id="p9"></div>
                <div class="field" id="p10"></div>
                <div class="field" id="p11"></div>
                <div class="field" id="p12"></div>
                <div class="field" id="p13"></div>
                <div class="field" id="p14"></div>
                <div class="field" id="p15"></div>
                <div class="field" id="p16"></div>
                <div class="field" id="p17"></div>
                <div class="field" id="p18"></div>
                <div class="field" id="p19"></div>
                <div class="field" id="p20"></div>
                <div class="field" id="p21"></div>
                <div class="field" id="p22"></div>
                <div class="field" id="p23"></div>
            </div>
        </article>
        <div class = "right">
            <div class = "back">
                {# <a href="{{ url_for('start') }}">{{ 'Powrót' }}</a>#}
            </div>
        </div>
    <script src="/static/js/jquery.js"></script>
    </body>
</html>
