<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,900' rel='stylesheet' type='text/css'> <!--czcionka Lato-->
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> <!--czcionka Shadows Into Light-->
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> <!--czcionka Dancing Script-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nowe.css') }}">
        <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet"> <!--ikonki-->
        <title>Młynek</title>
    </head>
    <div class="body_board">
        <header>
            <a title="Wróć do menu" href="{{ url_for('start') }}"><span class="fas fa-arrow-alt-circle-left"></span></a>
            <h1>Młynek</h1>
            <form>
                <p>Z pola: </p>
				<input title = "move_from" type=text size=8 name=move_from>
                <p>Na pole: </p>
                <input title = "move_to" type=text size=8 name=move_to>
				<a href=# id=process_input><button class='button'>Submit</button></a>
			</form>
            <p id=result></p>
        </header>
        <div class="center">
            <article class="player">
                <div class="name">
                    <p>Gracz 1</p>
                </div>
                <div class = pawns>
                    <div class="field green" id="e8"></div>
                    <div class="field green" id="e7"></div>
                    <div class="field green" id="e6"></div>
                    <div class="field green" id="e5"></div>
                    <div class="field green" id="e4"></div>
                    <div class="field green" id="e3"></div>
                    <div class="field green" id="e2"></div>
                    <div class="field green" id="e1"></div>
                    <div class="field green" id="e0"></div>
                </div>
            </article>
            <article class = "board_container">
                <div class ="board">
                    <div class="field" id="p0"></div>
                    <div class="field" id="p1"></div>
                    <div class="field" id="p2"></div>
                    <div class="field" id="p3"></div>
                    <div class="field" id="p4"></div>
                    <div class="field" id="p5"></div>
                    <div class="field" id="p6"></div>
                    <div class="field" id="p7"></div>
                    <div class="field" id="p8"></div>
                    <div class="field" id="p9"></div>
                    <div class="field" id="p10"></div>
                    <div class="field" id="p11"></div>
                    <div class="field" id="p12"></div>
                    <div class="field" id="p13"></div>
                    <div class="field" id="p14"></div>
                    <div class="field" id="p15"></div>
                    <div class="field" id="p16"></div>
                    <div class="field" id="p17"></div>
                    <div class="field" id="p18"></div>
                    <div class="field" id="p19"></div>
                    <div class="field" id="p20"></div>
                    <div class="field" id="p21"></div>
                    <div class="field" id="p22"></div>
                    <div class="field" id="p23"></div>
                </div>
            </article>
            <article class="player my">
                <div class="name">
                    <p>Gracz 2</p>
                </div>
                <div class = pawns>
                    <div class="field pink" id="e8"></div>
                    <div class="field pink" id="e7"></div>
                    <div class="field pink" id="e6"></div>
                    <div class="field pink" id="e5"></div>
                    <div class="field pink " id="e4"></div>
                    <div class="field pink" id="e3"></div>
                    <div class="field pink" id="e2"></div>
                    <div class="field pink" id="e1"></div>
                    <div class="field pink" id="e0"></div>
                </div>
            </article>
        </div>
    </div>
    <script src="../static/jquery-3.2.1.min.js"></script>

    <!--<script src="/static/js/jquery.js"></script>-->
    </body>
</html>



{#{% extends "header.html" %}#}
{#{% block body %}#}
{#	<head>#}
{#		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#		<script type=text/javascript>#}
{##}
{#		</script>#}
{#	</head>#}
{##}
{#	<body>#}
{#		<div class='container'>#}
{#		<h3>Welcome! Which is the best programming language of them all?</h3>#}
{#			<form>#}
{#				<input type=text size=5 name=proglang>#}
{#				<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>#}
{#			</form>#}
{#		<p id=result></p>#}
{#		</div>#}
{#	</body>#}
{#{% endblock %}#}