<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,900' rel='stylesheet' type='text/css'> <!--czcionka Lato-->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> <!--czcionka Shadows Into Light-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> <!--czcionka Dancing Script-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nowe.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet"> <!--ikonki-->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <title>Młynek</title>
</head>
<body class="background">
    <header>
        <h1>Młynek</h1>
    </header>
    <div class="main-container">
        <div class="button_main_page">
            <div class="text_in_button">
                <a href="{{ url_for('play') }}">{{ 'Graj' }}</a>
            </div>
        </div>
        <div class="button_main_page">
            <div class="text_in_button">
                <a href="{{ url_for('rules') }}">{{ 'Zasady' }}</a>
            </div>
        </div>
        <div class="button_main_page">
            <div class="text_in_button">
                <a href="{{ url_for('ranking') }}">{{ 'Ranking' }}</a>
            </div>
        </div>
    </div>
</body>
</html>
