{% extends "base.html" %}
{% block body %}
    <div class="body_board">








        <header>
            <a title="Wróć do menu" href="{{ url_for('start') }}"><span class="fas fa-arrow-alt-circle-left"></span></a>
            <h1>Młynek</h1>
            <div class="obecnie_add">
                <h2>Obecnie gra: </h2><p id="obecnie_gra">{{ current_player.color }}</p>
                <form class="formularz">
                    <h2>Postaw pionek</h2>
                    <input type=text size=5 name=a>
                    <a href=# id=wyslij><button>Wykonaj</button></a>
                </form>
                <form class="formularz">
                    <h2>Zabierz pionek przeciwnika</h2>
                    <input type=text size=5 name=b>
                    <a href=# id=wyslij2><button>Wykonaj</button></a>
                </form>
                <form class="formularz">
                    <h2>Przesuń swój pionek</h2>
                    <div class="przesun">
                        <p>Z pola: </p>
                        <input type=text size=5 name=c>
                    </div>
                    <div class="przesun">
                        <p>Na pole: </p>
                        <input type=text size=5 name=d>
                    </div>
                    <a href=# id=wyslij3><button>Wykonaj</button></a>
                </form>
            </div>
        </header>
        <div class="center">
            <article class="player">
                <div class="name">
                    <p> green </p>
                </div>
                <div class = pawns>
                    <div class="field green e8"></div>
                    <div class="field green e7"></div>
                    <div class="field green e6"></div>
                    <div class="field green e5"></div>
                    <div class="field green e4"></div>
                    <div class="field green e3"></div>
                    <div class="field green e2"></div>
                    <div class="field green e1"></div>
                    <div class="field green e0"></div>
                </div>
            </article>
            <article class = "board_container">
                <div class ="board">
                    <div class="field" id="p0">0</div>
                    <div class="field" id="p1">1</div>
                    <div class="field" id="p2">2</div>
                    <div class="field" id="p3">3</div>
                    <div class="field" id="p4">4</div>
                    <div class="field" id="p5">5</div>
                    <div class="field" id="p6">6</div>
                    <div class="field" id="p7">7</div>
                    <div class="field" id="p8">8</div>
                    <div class="field" id="p9">9</div>
                    <div class="field" id="p10">10</div>
                    <div class="field" id="p11">11</div>
                    <div class="field" id="p12">12</div>
                    <div class="field" id="p13">13</div>
                    <div class="field" id="p14">14</div>
                    <div class="field" id="p15">15</div>
                    <div class="field" id="p16">16</div>
                    <div class="field" id="p17">17</div>
                    <div class="field" id="p18">18</div>
                    <div class="field" id="p19">19</div>
                    <div class="field" id="p20">20</div>
                    <div class="field" id="p21">21</div>
                    <div class="field" id="p22">22</div>
                    <div class="field" id="p23">23</div>
                </div>
            </article>
            <article class="player my">
                <div class="name">
                    <p> pink </p>
                </div>
                <div class = pawns>
                    <div class="field pink e8"></div>
                    <div class="field pink e7"></div>
                    <div class="field pink e6"></div>
                    <div class="field pink e5"></div>
                    <div class="field pink e4"></div>
                    <div class="field pink e3"></div>
                    <div class="field pink e2"></div>
                    <div class="field pink e1"></div>
                    <div class="field pink e0"></div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}